* {box-sizing: border-box;}

.ShopItem{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  justify-self: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 0.2%;
  text-decoration: none;
  width: 98%;
  height: 200px;
  overflow: hidden;
}
.contentHelper{
  width: 100%;
  height: 100%;
}
.ShopItemPicContainer{
  width: 20%;
  overflow: hidden;
  float: left;
}
.ShopItemPic{
    border: solid black 2px;
    border-radius: 20px;
    height: 200px;
    width: 100%; 
}
.ShopItemDiscription{
  margin-top: 5%;
    border-radius: 20px;
    position:relative;
    top: -200px;
    opacity: 0;
    background: linear-gradient(to bottom, transparent, rgb(89, 90, 90));
    width: 100%;
    height: 200px;
    vertical-align: sub;


}
.ShopItemName{
    
  color: rgb(78, 150, 78);
  font-size: 24px;
  text-transform: capitalize;
  margin-left: 25%;
}
.ShopItemPrice{
  color: rgb(51, 51, 53);
  margin-top: 2.5%;
  margin-left: 20%;

}
.ShopItemStory{
  margin-top: 1%;
  margin-left: 20%;
}
.ShopAddBtn{
border-radius: 10px;
padding: 5px;
width: 15%;
margin-top: 10%;
margin-left: 2%;
position: absolute;

}
.ShopContainer{
  width: 100%;
}
.ShopItemDiscription:hover{
    animation-name: example;
    animation-duration: 0.5s;
    opacity: 1;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 28px;
  width: 10%;
  border-radius: 10px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  text-align: center;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(129, 127, 127);
  border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.cartItem{
  text-align: center;
  align-self: left;
}
.minusButton{
  background-color: rgb(129, 127, 127);
  width: 15%;
  padding: 5px;
  margin-left: 2%;
  border-radius: 10px;
}
.plusButton{
  background-color: #333;
  width: 15%;
  padding: 5px;
  margin-left: 2%;
  border-radius: 10px;
}
.cartItemImage{
  height: 60px;
  width: 40%;
  border: solid black 2px;
  border-radius: 5px;
}



@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }